  <h1>Productos dentro del carrito</h1>
  <table class="containerTable">
    <tr>
      <th>Title</th>
      <th>quantity</th>
      <th>Eliminar</th>
    </tr>
    {{#each cart.product}}
    <tr>
    <td>{{this.product._id}}</td>
    <td>{{this.product.quantity}}</td>
    <td><a href="">🗑</a></td>
    </tr>
    {{/each}}
  </table>