  <h1>Productos dentro del carrito</h1>
  <table class="containerTable">
    <tr>
      <th>ID</th>
      <th>Quantity</th>
      <th>Eliminar</th>
    </tr>
    {{#each cart.product}}
    <tr>
    <td>{{this._id}}</td>
    <td>{{this.quantity}}</td>
    <td><a href="">🗑</a></td>
    </tr>
    {{/each}}
  </table>