c  <h1>Productos dentro del carrito</h1>
  <table class="containerTable">
    <tr>
      <th>ID</th>
      <th>Quantity</th>
      <th>Eliminar</th>
    </tr>
   {{#each cart.product}}
  <tr>
    <td>{{this._id}}</td>
    <td>{{this.quantity}}</td>

    <td><form class="containerFiltro" action="/api/cart/{{../cart._id}}/product/{{this.id}}" method="get"> 
      <input type="hidden" name="eliminar" value="1">
      <button type="submit" class="btn btn-primary">🗑</button>
    </form></td>
  </tr>
{{/each}}
  </table>

