<h2>Ecommerce</h2>


{{!-- link al login --}}
<a href="/login">Login</a>

{{!-- link al login con git --}}
<a href="/login-github">Login GITHUB</a>

{{!-- link al registro --}}
<a href="/register">Registrate</a>