<h2>ECommerce</h2>
<h2>Este es el Index </h2>

<h1>
    Si no estas registrado, registrate.
</h1>
<br>
<h2>Si esta registrado ingresa tu Login</h2>
<form class="containerFiltro" action="/register" method="get"> 
        <button type="submit" class="btn btn-primary">Registrate</button>
</form>


<form class="containerFiltro" action="/login" method="get"> 
        <button type="submit" class="btn btn-primary">Login</button>
</form>

