<h2>Ecommerce</h2>
    <div class="login-container">
        
        <button class="btn btn-primary"><a href="/login">Login</a></button>
        <button class="btn btn-primary"><a href="/register">Registrate</a></button>
        
        <button class="btn btn-secondary"><a href="/login-github">Login GITHUB</a></button> 
        <button class="btn btn-secondary"><a href="/login-google">Login GOOGLE</a></button>
        <a href="/api/session/solicitar-recuperacion-contrasena">Recuperar Password</a>
    </div>