<div>
    profile
</div>

  <h1>Bienvenido </h1>

  <div >
        <img src="" alt="Foto de Perfil">
        <h2>Nombre: {{user.firts_name}} {{user.last_name}} </h2>
        <p>Edad: {{user.age}}</p>
        <p>Email: {{user.email}}</p>
        
        </div>  

