<h1>Productos en tiempo real</h1>

<hr>
<h3>Formulario Ingreso de productos</h3>

<form id="addProductForm" action="/realtimeproducts" method="POST">
<div class="containerform">
Title:<input name="title" type="text" id="title" placeholder="title" required>
Description:<input name="description" type="text" id="description" placeholder="Description" required>
Price:<input name="price" type="number" id="price" placeholder="Price" required>
Category:<input name="category" type="text" id="categeory" placeholder="category" required>
Thumbnail:<input name="thumbnail" type="text" id="thumbnail" placeholder="thumbnail" required>
Code:<input name="code" type="number" id="code" placeholder="code" required>
Stock:<input name="stock" type="number" id="stock" placeholder="Stock" required>
  <input type="submit" value="Agregar producto">
</div>
</form> 


