<h1>Formulario de registro</h1>

<form id="register" action="api/session/register" method="POST">
<div class="containerform">
Nombre:<input name="firts_name" type="text" id="firts_name" placeholder="firts_name" required>
Apellido:<input name="last_name" type="text" id="last_name" placeholder="last_name" required>
Age:<input name="age" type="number" id="age" placeholder="age" required>
Email:<input name="email" type="text" id="email" placeholder="email" required>
Password:<input name="password" type="text" id="password" placeholder="password" required>
Rol: <input name="role" type="text" id="role" placeholder="role" required>
  <input type="submit" value="registro">
</div>
</form>
{{!-- link al login --}}
<a href="/login">Login</a>
